#app {
    text-align: center;
    margin-top: 20px;
    color: #2C3350;
    font-family: 'Kanit', sans-serif;
}

.signout-btn {
    position: absolute;
    text-align: right;
    top: 20px;
    right: 40px;
}

.btn-signin {
    margin-left: 55%;
}

.form {
    padding-left: 20%;
    padding-right: 20%;
}

.event-card {
    border: 2px solid #2C3E50;
    margin-top: 30px;
    border-radius: 4px
}