#app {
    text-align: center;
    margin-top: 60px;
    color: #2C3350;
    padding-left: 30%;
    padding-right: 30%;
}

.signout-btn {
    position: absolute;
    text-align: right;
    top: 60px;
    right: 40px;
}

.btn-signin {
    margin-left: 55%;
}

.form {
    padding-left: 20%;
    padding-right: 20%;
}